<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Form</title>
</head>
<body>

<header>
    <ul>
        <li>
            <a href="/">Main</a>
        </li>
        <li>
            <a href="/books">Books</a>
        </li>
    </ul>
    <span sec:authorize="isAuthenticated()">
        <span>Hello, <span sec:authentication="name"></span>!</span>
        <form style="display:inline;" action="/logout" method="post">
            <input type="submit" value="Logout" />
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </form>
        <span style="color:red;" sec:authorize="hasRole('ROLE_ADMIN')">Admin</span>
    </span>
    <span sec:authorize="!isAuthenticated()">
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
    </span>
</header>

<h1 th:if="${book} ? 'Edit book' : 'Add book'">Add/Edit book</h1>

<div th:if="${error}" style="color: red;">
    <p th:text="${error}">Failed to save book to db. Please check the form.</p>
</div>

<form th:if="${book}" th:action="@{'/books/' + ${book.id}}" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" th:value="${book.title}" required>
    <br>
    <label for="author">Author:</label>
    <input type="text" id="author" name="author" th:value="${book.author}" required>
    <br>
    <label for="genre">Genre:</label>
    <input type="text" id="genre" name="genre" th:value="${book.genre}" required>
    <br>
    <label for="pages">Number of pages:</label>
    <input type="number" id="pages" name="pages" th:value="${book.pages}" required>
    <br>
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" th:value="${book.price}" required>
    <br>
    <input type="submit" value="Save">
</form>

<form th:unless="${book}" th:action="@{/books}" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required>
    <br>
    <label for="author">Author:</label>
    <input type="text" id="author" name="author" required>
    <br>
    <label for="genre">Genre:</label>
    <input type="text" id="genre" name="genre" required>
    <br>
    <label for="pages">Number of pages:</label>
    <input type="number" id="pages" name="pages" required>
    <br>
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" required>
    <br>
    <input type="submit" value="Save">
</form>
</body>
</html>